<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <title>DAISAN | Chính sách bảo mật thông tin</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Customizable CSS -->
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/blue.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.transitions.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/rateit.css">
    <link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" -->
    <link rel="stylesheet" href="assets/css/font-awesome.css">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800'
        rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>


</head>

<body class="cnt-home">
    <!-- ============================================== HEADER ============================================== -->
    <header class="header-style-1">

        <!-- ============================================== TOP MENU ============================================== -->
        <div class="top-bar animate-dropdown">
            <div class="container">
                <div class="header-top-inner">
                    <div class="cnt-account">
                        <ul class="list-unstyled">
                            <li><a href="myaccount.html"><i class="icon fa fa-user"></i>Tài khoản của tôi</a></li>
                            <li><a href="my-wishlist.html"><i class="icon fa fa-heart"></i>Yêu thích</a></li>
                            <li><a href="shopping-cart.html"><i class="icon fa fa-shopping-cart"></i>Giỏ hàng</a></li>
                            <li><a href="thanhtoan.html"><i class="icon fa fa-check"></i>Thanh toán</a></li>
                            <li><a href="dangnhapdangky.html"><i class="icon fa fa-lock"></i>Đăng nhập</a></li>
                        </ul>
                    </div>
                    <!-- /.cnt-account -->

                    <div class="cnt-block">
                        <ul class="list-unstyled list-inline">
                            <li class="dropdown dropdown-small"> <a href="#" class="dropdown-toggle"
                                    data-hover="dropdown" data-toggle="dropdown"><span class="value">Tiếng Việt
                                    </span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Tiếng Việt</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /.list-unstyled -->
                    </div>
                    <!-- /.cnt-cart -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.header-top -->
        <!-- ============================================== TOP MENU : END ============================================== -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo" ;"> <a href="home.html"> <img src="assets/images/daisan.png" alt="logo"
                                    style="height: 55px; margin-top: -10px" "> </a> </div>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class=" col-xs-12 col-sm-12 col-md-7 top-search-holder">
                                <!-- /.contact-row -->
                                <!-- ============================================================= SEARCH AREA ============================================================= -->
                                <div class="search-area">
                                    <form>
                                        <div class="control-group">
                                            <ul class="categories-filter animate-dropdown">
                                                <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown"
                                                        href="category.html">Danh mục<b class="caret"></b></a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="gachoplat.html">- Gạch ốp lát</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="daoplat.html">- Đá ốp lát</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="son.html">- Sơn nội thất & ngoại thất</a>
                                                        </li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="sango.html">- Sàn gỗ và phụ kiện</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="tamoptuong.html">- Tấm ốp tường</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="vatlieutho.html">- Vật liệu thô</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="vattunganhda.html">- Vật tư ngành đá</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="vatlieumai.html">- Vật liệu mài & phụ kiện</a>
                                                        </li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="cuaso.html">- Cửa & cửa sổ, bản lề & phụ
                                                                kiện</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                                href="nep.html">- Nẹp</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <input class="search-field" placeholder="Bạn muốn tìm gì đó...">
                                            <a class="search-button" href="#"></a>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.search-area -->
                                <!-- ============================================================= SEARCH AREA : END ============================================================= -->
                        </div>
                        <!-- /.top-search-holder -->

                        <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row">
                            <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->

                            <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart"
                                    data-toggle="dropdown">
                                    <div class="items-cart-inner">
                                        <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
                                        <div class="basket-item-count"><span class="count">2</span></div>
                                        <div class="total-price-basket"> <span class="lbl">Giỏ -</span> <span
                                                class="total-price"> <span class="sign">900.000</span><span
                                                    class="value">đ</span> </span> </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="cart-item product-summary">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="image"> <a href="detail.html"><img
                                                                src="assets/images/cart.jpg" alt=""></a> </div>
                                                </div>
                                                <div class="col-xs-7">
                                                    <h3 class="name"><a href="index.php?page-detail">Simple Product</a>
                                                    </h3>
                                                    <div class="price">900.000đ.00</div>
                                                </div>
                                                <div class="col-xs-1 action"> <a href="#"><i
                                                            class="fa fa-trash"></i></a> </div>
                                            </div>
                                        </div>
                                        <!-- /.cart-item -->
                                        <div class="clearfix"></div>
                                        <hr>
                                        <div class="clearfix cart-total">
                                            <div class="pull-right"> <span class="text">Tổng tiền :</span><span
                                                    class='price'>900.000đ.00</span> </div>
                                            <div class="clearfix"></div>
                                            <a href="thanhtoan.html"
                                                class="btn btn-upper btn-primary btn-block m-t-20">Thanh toán</a>
                                        </div>
                                        <!-- /.cart-total-->

                                    </li>
                                </ul>
                                <!-- /.dropdown-menu-->
                            </div>
                            <!-- /.dropdown-cart -->

                            <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= -->
                        </div>
                        <!-- /.top-cart-row -->
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /.main-header -->

            <!-- ============================================== NAVBAR ============================================== -->
            <div class="header-nav animate-dropdown">
                <div class="container">
                    <div class="yamm navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
                                class="navbar-toggle collapsed" type="button">
                                <span class="sr-only">Chuyển Điều Hướng</span> <span class="icon-bar"></span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <div class="nav-bg-class">
                            <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                                <div class="nav-outer">
                                    <ul class="nav navbar-nav">
                                        <li class="active dropdown yamm-fw"> <a href="home.html">Trang chủ</a> </li>
                                        <li class="dropdown yamm mega-menu"> <a href="#" data-hover="dropdown"
                                                class="dropdown-toggle" data-toggle="dropdown">Danh Mục</a>
                                            <ul class="dropdown-menu container">
                                                <li>
                                                    <div class="yamm-content ">
                                                        <div class="row">
                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu drop-height">
                                                                <h2 class="title">Gạch ốp lát</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Gạch ốp tường</a></li>
                                                                    <li><a href="#">Gạch lát nền </a></li>
                                                                    <li><a href="#">Gạch bông</a></li>
                                                                    <li><a href="#">Gạch 3D</a></li>
                                                                    <li><a href="#">Gạch Mosaic</a></li>
                                                                    <li><a href="#">Gạch sân vườn, vỉa hè </a></li>
                                                                    <li><a href="#">Gạch Kính </a></li>
                                                                    <li><a href="#">Gạch vân gỗ </a></li>

                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Đá ốp lát</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Đá nhân tạo</a></li>
                                                                    <li><a href="#">Đá lát nền</a></li>
                                                                    <li><a href="#">Đá sân vườn </a></li>
                                                                    <li><a href="#">Đá hoa văn</a></li>
                                                                    <li><a href="#">Đá lát vỉa hè</a></li>
                                                                    <li><a href="#">Đá ốp cầu thang</a></li>
                                                                    <li><a href="#">Đá Mosaic</a></li>
                                                                    <li><a href="#">Đá ốp tường</a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Sơn nội thất & ngoại thất</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Sơn nội thất </a></li>
                                                                    <li><a href="#">Sơn ngoại thất</a></li>
                                                                    <li><a href="#">Sơn lót</a></li>
                                                                    <li><a href="#">Sơn chống thấm</a></li>
                                                                    <li><a href="#">Bột bả và chống thấm</a></li>
                                                                    <li><a href="#">Sơn kim loại</a></li>

                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Sàn gỗ và phụ kiện</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Sàn gỗ tự nhiên </a></li>
                                                                    <li><a href="#">Sàn gỗ ngoài trời</a></li>
                                                                    <li><a href="#">Sàn gỗ công nghiệp</a></li>
                                                                    <li><a href="#">Phụ kiện sàn gỗ</a></li>
                                                                    <li><a href="#">Tấm ván ép</a></li>

                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Tấm ốp tường</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Tấm đá xuyên sáng </a></li>
                                                                    <li><a href="#">Tấm ốp bằng nhôm</a></li>
                                                                    <li><a href="#">Tấm ốp ngoài trời</a></li>
                                                                    <li><a href="#">Trần nhôm</a></li>
                                                                    <li><a href="#">Lam chắn nắng</a></li>
                                                                    <li><a href="#">Tấm panel, vách ngăn</a></li>
                                                                    <li><a href="#">Tấm ốp tường 3D</a></li>
                                                                    <li><a href="#">Tấm ốp tường ván gỗ</a></li>

                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->
                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Vật liệu thô</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Inox </a></li>
                                                                    <li><a href="#">Sắt thép xây dựng</a></li>
                                                                    <li><a href="#">Ống đồng</a></li>
                                                                    <li><a href="#">Xi măng</a></li>
                                                                    <li><a href="#">Cát, sỏi xây dựng</a></li>
                                                                    <li><a href="#">Bê tông</a></li>
                                                                    <li><a href="#">Lưới xây dựng</a></li>
                                                                    <li><a href="#">Dàn giáo</a></li>

                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->
                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Vật tư ngành đá</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Đá cắt đá mài </a></li>
                                                                    <li><a href="#">Lưỡi cắt</a></li>
                                                                    <li><a href="#">Mũi Khoan </a></li>
                                                                    <li><a href="#">Vật tư thi công </a></li>
                                                                    <li><a href="#">Thanh ty ren </a></li>
                                                                    <li><a href="#">Bát mài </a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <!-- /.col -->
                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Vật liệu mài & phụ kiện</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Tấm lợp mái </a></li>
                                                                    <li><a href="#">Tấm trần</a></li>
                                                                    <li><a href="#">Ngói </a></li>
                                                                    <li><a href="#">Phụ kiện ngói </a></li>
                                                                    <li><a href="#">Phụ kiện trần </a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <!-- /.col -->
                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Cửa & cửa sổ. bán lẻ & phụ kiện</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Cửa nhôm</a></li>
                                                                    <li><a href="#">Cửa gỗ </a></li>
                                                                    <li><a href="#">Cửa kính </a></li>
                                                                    <li><a href="#">Cửa kéo </a></li>
                                                                    <li><a href="#">Cửa cuốn </a></li>
                                                                    <li><a href="#">Cửa cổng </a></li>
                                                                    <li><a href="#">Cửa nhựa </a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <!-- /.col -->
                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-2 col-menu  drop-height">
                                                                <h2 class="title">Nẹp</h2>
                                                                <ul class="links">
                                                                    <li><a href="#">Nẹp dán cạnh</a></li>
                                                                    <li><a href="#">Nẹp đồng </a></li>
                                                                    <li><a href="#">Nẹp nhôm </a></li>
                                                                    <li><a href="#">Nẹp nhựa </a></li>
                                                                </ul>
                                                            </div>
                                                            <!-- /.col -->

                                                            <div
                                                                class="col-xs-12 col-sm-6 col-md-4 col-menu banner-image">
                                                                <img class="img-responsive"
                                                                    src="assets/images/sliders/slider3.png" alt="logo"
                                                                    style=" max-width: 105%; height: 150px;">
                                                            </div>
                                                            <!-- /.yamm-content -->
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="hotdeal.html">Hot Deal <span
                                                    class="menu-label hot-menu hidden-xs">hot</span> </a>
                                        </li>
                                        <li class="dropdown hidden-sm"> <a href="combo.html">Combo <span
                                                    class="menu-label new-menu hidden-xs">new</span> </a> </li>


                                        <li class="dropdown"> <a href="interiordesign.html">Tư vấn thiết kế </a> </li>
                                        <!-- <li class="dropdown"> <a href="lienhe.html">blog</a> </li> -->
                                        <li class="dropdown"> <a href="blog.html">blog</a>
                                        </li>
                                        <li class="dropdown"> <a href="hangmoi.html">hàng mới <span
                                                    class="menu-label new-menu hidden-xs">new</span></a> </li>
                                        <li class="dropdown"> <a href="lienhe.html">Liên hệ</a> </li>

                                    </ul>
                                    <!-- /.navbar-nav -->
                                    <div class="clearfix"></div>
                                </div>
                                <!-- /.nav-outer -->
                            </div>
                            <!-- /.navbar-collapse -->

                        </div>
                        <!-- /.nav-bg-class -->
                    </div>
                    <!-- /.navbar-default -->
                </div>
                <!-- /.container-class -->

            </div>
            <!-- /.header-nav -->
            <!-- ============================================== NAVBAR : END ============================================== -->

    </header>

    <!-- ============================================== HEADER : END ============================================== -->
    <div style="padding: 50px 120px;
    line-height: 29px;" class="body-content outer-top-xs" id="top-banner-and-menu" data-content-type="text"
        data-appearance="default" data-element="main"
        style="border-style: none; border-width: 1px; border-radius: 0px; margin: 0px; padding: 0px;">
        <strong>CHÍNH SÁCH BẢO MẬT THÔNG TIN</strong></p>
        <ol style="text-align: justify;">
            <li><strong>Sự chấp thuận</strong></li>
        </ol>
        <p style="text-align: justify;">Khi bạn cung cấp thông tin cá nhân của mình cho Daisan.vn đồng nghĩa với việc
            bạn đồng ý với việc thông tin cá nhân của bạn sẽ được thu thập, sử dụng như được nêu trong chính sách này.
            Nếu bạn không đồng ý với chính sách này, bạn có thể dừng cung cấp cho chúng tôi các thông tin cá nhân hoặc
            dừng sử dụng các quyền như được nêu tại Mục 7 dưới đây. Chúng tôi bảo lưu quyền sửa đổi, bổ sung nhằm hoàn
            thiện đối với chính sách này vào bất kỳ thời điểm nào. Chúng tôi khuyến khích bạn thường xuyên xem lại Chính
            sách bảo mật thông tin để có được những cập nhật mới nhất đảm bảo bạn biết và thực hiện quyền quản lý thông
            tin cá nhân của mình.</p>
        <ol style="text-align: justify;" start="2">
            <li><strong>Mục đích thu thập</strong></li>
        </ol>
        <p style="text-align: justify;">Chúng tôi thu thập thông tin cá nhân chỉ cần thiết nhằm phục vụ cho các mục
            đích:</p>
        <p style="text-align: justify;">- Đơn hàng: để xử lý các vấn đề liên quan đến đơn đặt hàng của bạn;</p>
        <p style="text-align: justify;">- Duy trì tài khoản: để tạo và duy trình tài khoản của bạn với chúng tôi, bao
            gồm cả các chương trình khách hàng thân thiết hoặc các chương trình thưởng đi kèm với tài khoản của bạn;</p>
        <p style="text-align: justify;">- Dịch vụ người tiêu dùng, Dịch vụ chăm sóc khách hàng: bao gồm các phản hồi cho
            các yêu cầu, khiếu nại và phản hồi của bạn;</p>
        <p style="text-align: justify;">- Cá nhân hóa: Chúng tôi có thể tổng hợp dữ liệu được thu thập để có một cái
            nhìn hoàn chỉnh hơn về người tiêu dùng và từ đó cho phép chúng tôi phục vụ tốt hơn với sự cá nhân hóa mạnh
            hơn ở các khía cạnh, bao gồm nhưng không giới hạn: (i) để cải thiện và cá nhân hóa trải nghiệm của bạn trên
            sàn giao dịch thương mại điện tử Daisan.vn (ii) để cải thiện các tiện ích, dịch vụ, điều chỉnh chúng phù hợp
            với các nhu cầu được cá thể hóa và đi đến những ý tưởng dịch vụ mới (iii) để phục vụ bạn với những giới
            thiệu, quảng cáo được điều chỉnh phù hợp với sự quan tâm của bạn.</p>
        <p style="text-align: justify;">- An ninh: phục vụ các mục đích ngăn ngừa các hoạt động phá hủy tài khoản người
            dùng của khách hàng hoặc các hoạt động giả mạo khách hàng.</p>
        <p style="text-align: justify;">- Theo yêu cầu của pháp luật: tùy quy định của pháp luật vào từng thời điểm,
            chúng tôi có thể thu thập, lưu trữ và cung cấp theo yêu cầu của cơ quan nhà nước có thẩm quyền.</p>
        <ol style="text-align: justify;" start="3">
            <li><strong>Phạm vi thu thập</strong></li>
        </ol>
        <p style="text-align: justify;">Chúng tôi thu thập thông tin cá nhân của bạn khi:</p>
        <p style="text-align: justify;">- Bạn trực tiếp cung cấp cho chúng tôi: Đó là các thông tin cá nhân bạn cung cấp
            cho chúng tôi được thực hiện chủ yếu trên sàn giao dịch thương mại điện tử Daisan.vn bao gồm: họ tên, email,
            số điện thoại, địa chỉ, thông tin đăng nhập tài khoản bao gồm thông tin bất kỳ cần thiết để thiết lập tài
            khoản ví dụ như tên đăng nhập, mật khẩu đăng nhập, ID/địa chỉ đăng nhập và câu hỏi/trả lời an ninh.</p>
        <p style="text-align: justify;">- Từ những nguồn hợp pháp khác: Chúng tôi có thể sẽ thu thập thông tin cá nhân
            từ các nguồn hợp pháp khác.</p>
        <ol style="text-align: justify;" start="4">
            <li><strong>Thời gian lưu trữ</strong></li>
        </ol>
        <p style="text-align: justify;">Thông tin cá nhân của khách hàng sẽ được lưu trữ cho đến khi khách hàng có yêu
            cầu hủy bỏ hoặc khách hàng tự đăng nhập và thực hiện hủy bỏ. Trong mọi trường hợp thông tin cá nhân của
            khách hàng sẽ được bảo mật trên máy chủ của Daisan.vn</p>
        <ol style="text-align: justify;" start="5">
            <li><strong>Không chia sẻ thông tin cá nhân khách hàng</strong></li>
        </ol>
        <p style="text-align: justify;">Chúng tôi sẽ không cung cấp thông tin cá nhân của bạn cho bất kỳ bên thứ ba nào,
            trừ một số hoạt động cần thiết dưới đây:</p>
        <p style="text-align: justify;">- Các đối tác là bên cung cấp dịch vụ cho chúng tôi liên quan đến thực hiện đơn
            hàng và chỉ giới hạn trong phạm vi thông tin cần thiết cũng như áp dụng các quy định đảm bảo an ninh, bảo
            mật các thông tin cá nhân.</p>
        <p style="text-align: justify;">- Chúng tôi có thể sử dụng dịch vụ từ một nhà cung cấp dịch vụ là bên thứ ba để
            thực hiện một số hoạt động liên quan đến sàn giao dịch thương mại điện tử Daisan.vn và khi đó bên thứ ba này
            có thể truy cập hoặc xử lý các thông tin cá nhân trong quá trình cung cấp các dịch vụ đó. Chúng tôi yêu cầu
            các bên thứ ba này tuân thủ mọi luật lệ về bảo vệ thông tin cá nhân liên quan và các yêu cầu về an ninh liên
            quan đến thông tin cá nhân.</p>
        <p style="text-align: justify;">- Các chương trình có tính liên kết, đồng thực hiện, thuê ngoài cho các mục địch
            được nêu tại Mục 2 và luôn áp dụng các yêu cầu bảo mật thông tin cá nhân.</p>
        <p style="text-align: justify;">- Yêu cầu pháp lý: Chúng tôi có thể tiết lộ các thông tin cá nhân nếu điều đó do
            luật pháp yêu cầu và việc tiết lộ như vậy là cần thiết một cách hợp lý để tuân thủ các quy trình pháp lý.
        </p>
        <p style="text-align: justify;">- Chuyển giao kinh doanh (nếu có): trong trường hợp sáp nhập, hợp nhất toàn bộ
            hoặc một phần với công ty khác, người mua sẽ có quyền truy cập thông tin được chúng tôi lưu trữ, duy trì
            trong đó bao gồm cả thông tin cá nhân.</p>
        <ol style="text-align: justify;" start="6">
            <li><strong>An toàn dữ liệu</strong></li>
        </ol>
        <p style="text-align: justify;">Chúng tôi luôn nỗ lực để đảm bảo an toàn thông tin cá nhân của khách hàng, chúng
            tôi đã và đang thực hiện nhiều biện pháp an toàn, bao gồm:</p>
        <p style="text-align: justify;">- Bảo đảm an toàn trong môi trường vận hành: chúng tôi lưu trữ không tin cá nhân
            khách hàng trong môi trường vận hành an toàn và chỉ có nhân viên, đại diện và nhà cung cấp dịch vụ có thể
            truy cập trên cơ sở cần phải biết. Chúng tôi tuân theo các tiêu chuẩn ngành, pháp luật trong việc bảo mật
            thông tin cá nhân khách hàng.</p>
        <p style="text-align: justify;">- Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất dữ
            liệu cá nhân khách hàng, chúng tôi sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng để điều tra xử
            lý kịp thời và thông báo cho khách hàng được biết.</p>
        <p style="text-align: justify;">- Các thông tin thanh toán: được bảo mật theo tiêu chuẩn ngành.</p>
        <ol style="text-align: justify;" start="7">
            <li><strong>Quyền của khách hàng đối với thông tin cá nhân</strong></li>
        </ol>
        <p style="text-align: justify;">Khách hàng có quyền cung cấp thông tin cá nhân cho chúng tôi và có thể thay đổi
            quyết định đó vào bất cứ lúc nào. Khách hàng có quyền tự kiểm tra, cập nhật, điều chỉnh thông tin cá nhân
            của mình bằng cách đăng nhập vào tài khoản và chỉnh sửa thông tin cá nhân hoặc yêu cầu chúng tôi thực hiện
            việc này.</p>
        <ol style="text-align: justify;" start="8">
            <li><strong>Thông tin liên hệ</strong></li>
        </ol>
        <p style="text-align: justify;">Nếu bạn có câu hỏi hoặc bất kỳ thắc mắc nào về Chính sách này hoặc thực tế việc
            thu thập, quản lý thông tin cá nhân của chúng tôi, xin vui lòng liên hệ với chúng tôi theo cách sau:</p>
        <p style="text-align: justify;">+ Liên hệ hotline: 098.625.8282</p>
        <p style="text-align: justify;">+ Gửi email đến địa chỉ: <a href="mailto:admin@daisan.vn">admin@daisan.vn</a>
        </p>
        <ol style="text-align: justify;" start="9">
            <li><strong>Đơn vị thu thập và quản lý thông tin</strong></li>
        </ol>
        <p style="text-align: justify;"><strong>CÔNG TY CỔ PHẦN XÂY DỰNG SẢN XUẤT VÀ THƯƠNG MẠI ĐẠI SÀN</strong></p>
        <p style="text-align: justify;">Mã số thuế: 0103884103</p>
        <p style="text-align: justify;">Đăng ký lần đầu: ngày 26 tháng 05 năm 2009 </p>
        <p style="text-align: justify;">Đăng ký thay đổi lần thứ: 5 ngày 18 tháng 09 năm 2017</p>
        <p style="text-align: justify;">Địa chỉ: Số 88 Láng Hạ, Quận Đống Đa, HN</p>
        <p style="text-align: justify;">VPGD: Tầng 2 Số 8 Cát Linh, Đống Đa, Hà Nội</p>
        <p style="text-align: justify;">Số điện thoại: 098.625.8282</p>
        <p style="text-align: justify;">Email: <a href="mailto:admin@daisan.vn">admin@daisan.vn</a></p>
        <p style="text-align: justify;"> </p>
    </div>
    <footer id="footer" class="footer color-bg">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Liên hệ</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class="toggle-footer">
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
                                                class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>Khu phố 6, phường Linh Trung, quận Thủ Đức, TP.HCM, Việt Nam</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
                                                class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body">
                                        <p>+(84)962351043<br>
                                        </p>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i
                                                class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                    <div class="media-body"> <span><a href="#">nguyenthaiduc0212@gmail.com</a></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Hỗ trợ khách hàng</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a href="lienhe.html" title="Contact">Liên hệ đến Daisan</a></li>
                                <li><a href="huongdandathang.html" title="Order">Hướng dẫn đặt hàng</a></li>
                                <li><a href="cauhoithuonggap.html" title="FAQ">Câu hỏi thường gặp</a></li>
                                <li class="last"><a href="chinhsachvadieukhoan.html" title="Hỗ trợ">Chính sách và
                                        quy định chung</a></li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Chính sách</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <li class="first"><a title="Thanh toán" href="huongdanthanhtoan.html">Hướng dẫn thanh
                                        toán</a></li>
                                <li><a title="Bảo hành" href="chinhsachbaohanh.html">Chính sách bảo hành</a></li>
                                <li><a title="Chính sách đổi trả" href="chinhsachdoitra.html">Chính sách đổi trả</a>
                                </li>
                                <li><a title="Vận chuyển" href="chinhsachvanchuyen.html">Phương thức vận chuyển</a></li>
                                <li class="last"><a title="Bảo mật thông tin" href="chinhsachbaomatthongtin.html">Bảo
                                        mật thông tin</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.module-body -->
                    </div>
                    <!-- /.col -->

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="module-heading">
                            <h4 class="module-title">Tại sao nên chọn chúng tôi</h4>
                        </div>
                        <!-- /.module-heading -->

                        <div class="module-body">
                            <ul class='list-unstyled'>
                                <!-- <li class="first"><a href="#" title="About us">Shopping Guide</a></li> -->
                                <li><a href="blog.html" title="Blog">Blog</a></li>
                                <!-- <li><a href="#" title="Company">Công ty</a></li> -->
                                <!-- <li><a href="#" title="Investor Relations">Investor Relations</a></li> -->
                                <li class=" last"><a href="lienhe.html" title="Suppliers">Liên hệ</a></li>
                            </ul>

                        </div>

                        <!-- /.module-body -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-choose">
            <div class="container-fluid">
                <div class="footer-info p-3 p-md-0">
                    <div class="row row-sm justify-content-center">

                        <div class="col-xl-4">
                            <p class="text-b mt-3 mt-md-0">© 2009 DAISAN.,JSC</p>
                            <p class="mb-2">Công Ty Cổ phần Đại Sàn. GPĐKKD: 0103884103 do sở KH &amp; ĐT TP Hà Nội cấp
                                lần đầu ngày 29/06/2009.</p>
                            <p class="mb-3">Trụ sở chính: 88 Láng Hạ, P. Láng Hạ, Q. Đống Đa, TP Hà Nội.</p>
                            <p>
                                <a href="http://online.gov.vn/Home/WebDetails/54203">
                                    <img src="assets/images/tb-bct.png" height="50">
                                </a>
                                <a href="http://online.gov.vn/Home/WebDetails/54203">
                                    <img src="assets/images/dk-bct.png" height="50">
                                </a>
                            </p>
                        </div>
                        <div class="col-xl-4">
                            <p class="text-b">MIỀN BẮC</p>
                            <p>Showroom: Số 40 Tố Hữu, Nhân Chính, Thanh Xuân, Hà Nội</p>
                            <p>VPGD: Tầng 4, Số 40 Tố Hữu, Nhân Chính, Thanh Xuân, Hà Nội</p>
                            <p>Email: <a href="mailto:info@daisan.vn">info@daisan.vn</a></p>
                            <p class="text-b mt-3">MIỀN NAM</p>
                            <p>VPGD: 57/1c, Khu phố 1, P. An Phú Đông, Q.12</p>
                            <a class="hide">Điện thoại: 1800 6464 98</a> Email: <a
                                href="mailto:info@daisan.vn">info@daisan.vn</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- ============================================================= FOOTER : END============================================================= -->


    <!-- For demo purposes – can be removed on production -->


    <!-- For demo purposes – can be removed on production : End -->

    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-1.11.1.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/echo.min.js"></script>
    <script src="assets/js/jquery.easing-1.3.min.js"></script>
    <script src="assets/js/bootstrap-slider.min.js"></script>
    <script src="assets/js/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="assets\js\lightbox.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/scripts.js"></script>

    <!-- For demo purposes – can be removed on production -->

    <script src="switchstylesheet/switchstylesheet.js"></script>

    <script>
        $(document).ready(function () {
            $(".changecolor").switchstylesheet({ seperator: "color" });
            $('.show-theme-options').click(function () {
                $(this).parent().toggleClass('open');
                return false;
            });
        });

        $(window).bind("load", function () {
            $('.show-theme-options').delay(2000).trigger('click');
        });
    </script>
    <!-- For demo purposes – can be removed on production : End -->



</body>

</html>